* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* farve galleri */
:root {
 --green: #5bb364;
 --hvid: #fbfbbb;
 --blue: #4474cb;
 --red: #fb7474;
}

body {
  background-color: var(--hvid);
  line-height: 1.6;
  }

/* indstilling for header */
.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 17px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1); /* gradient - 3D effekt */
    background-color: #5bb364e7;
    padding: 20px;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
  }

/* icon formatering */
#logo {
    width: 70px;
  }

#word {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--hvid);
  }

.wordogmenu {
    display: flex;
    align-items: center;
    width: 90%;
  }

/* burger menu */
#menu {
    width: 35px;
    cursor:pointer;
    margin: 20px;
  }

/* overlay effekt, når menu åbnes */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #fb7474;
  background-color: #fb7474d7;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: var(--hvid);
  display: block;
  transition: 0.3s;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* effekt farve */
.overlay a:hover, .overlay a:focus {
  color: var(--green);
}

/* åben og lukke indstillinger */
.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
}

.bigphoto {
  width: 80%;
  display: flex;
  justify-self: center;
  margin-top: fit-content;
}

#tekstfelt {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 80%;
  justify-self: center;
  margin-top: 33px;
}

.tekstcontainer {
  display: block;
  padding: 5%;
}

#abstrakt{
  width: 50%;
  justify-self: center;
  align-self: center;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 70%;
  margin: 0 auto;
}

.container1 img {
  width: 377px;
}

.box {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  max-width: fit-content;
}

#events {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  font-size: 44px;
  color: var(--blue);
}

  div.scroll-container {
    background-color:var(--red);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 5%;
  }
  
  div.scroll-container img {
    padding: 10px;
    width: auto;
    height: 500px;
  }

/* Session */
.session {
  display: flex;
  padding-top: 133px;
  justify-items: center;
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
}

#session {
  color: var(--blue);
  text-align: center;
  margin-bottom: 100px;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

#session h1 {
  margin-top: 50px;
}

#session p {
  margin-top: 20px;
}

#sesh {
  display: grid;
  padding-top: 33px;
  justify-self: center;
  align-self: center;
  max-width: 70%;
  gap: 20px;
}

.gods {
  grid-template-columns: 1fr 1fr 1fr;
}

.gods img {
  height: 500px;
}

.ass {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ass img {
  height: 190px;
}

/* om os */
.omos {
  padding-top: 133px;
  display: flex;
  width: 70%;
  justify-self: center;
  text-align: center;
}

.omos h1 {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

#tregrid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 30px;
}

#tregrid img {
  height: 222px;
}


  footer {
    display: flex;
    align-content: flex-end;
    width: 100%;
    background-color: var(--blue);
    color: var(--hvid);
    padding: 35px;
    justify-content: space-between;
    font-size: 13px;
    flex-wrap: wrap-reverse;
    text-transform: none;
    align-items: center;
    margin-top: 22px;
}

footer li {
    list-style-type: none;
    margin: 0;
    font-size: 14px;
}

footer a {
  color: var(--hvid);
}

/* sociale medier */
.social ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 22px;
}

.social img {
  width: 56px;
}

/* responsive */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      width: 100%;
    }
  
    .storbilled img {
      width: 100%;
    }
  }
  
  /* styles for mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  
    #search {
      display: none;
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      align-items: center;
    }

    .social {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .social img {
      width: 15%;
    }
  }